<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Password Reset</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <main role="main" class="container">
        <h1 class="mt-5">Reset your Password</h1>
        <form method="post" action="/user/forgotpassword/complete">
			<div class="form-group">
				<label for="new-password">New Password</label>
				<input type="password" class="form-control" id="new-password" name="new_password" placeholder="New Password">
			</div>
			<div class="form-group">
				<label for="confirm-new-password">Confirm New Password</label>
				<input type="password" class="form-control" id="confirm-new-password" name="confirm_new_password" placeholder="Confirm New Password">
			</div>
			<button type="submit" class="btn btn-primary btn-block">Change Password</button>
        </form>
    </main>
</body>

</html>