<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Verification Complete</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
    <body>
        <main role="main" class="container">
            <h1 class="mt-5">Verification</h1>
            <p class="lead">The verification link you clicked has been used already or does not exist. If you copied it from an email, please make sure you copied the entire link and try again.</p>
        </main>
    </body>
</html>